[gateway]
<gateway management ip address>

[mdm]
<mdm server 1 management ip address>
<mdm server 2 management ip address>
<mdm server 3 management ip address>

[sds]
<sds server1 management ip address>
<sds server2 management ip address>
<sds server3 management ip address>

[sdc]
<sdc server1 management ip address>
<sdc server1 management ip address>
<sdc server1 management ip address>



